<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <style>
      .btn-info{
        margin-bottom: -53px;
      }
      .tit{
        text-align: center;
      }
    .search-container{
      float: right;
      padding-top: 7px;
      display: block;
      text-align: left;
      border: 1px solid #ccc;
    }
    .search-container button{
      float:right;
      background: #ddd;
      font-size: 17px;
      border: none;
      cursor: pointer;
    }
    </style>
  </head>
  <body>
    <div class="container mt-3" >
      <h1 class="tit">CRUD Manage Students</h1>
      <a href="/add" class="btn btn-info">Add Students</a>
        <form action="/search" method="GET">
          <input type="text" placeholder="MSSV" name="mssv"class="search-container">
          <button type="submit" class="search-container button">Submit</button>
          <table class="table">
            <thead>
              <th>STT</th>
              <th>MSSV</th>
              <th>FirstName</th>
              <th>LastName</th>
              <th>Email</th>
              <th>Manage</th>
            </thead>
            <tbody>
              <%
                for(var i=0;i<data.length;i++){
                  %> 
                  <tr>
                    <td><%=data[i].STT%></td>
                    <td><%=data[i].MSSV%></td>
                    <td><%=data[i].FirstName%></td>
                    <td><%=data[i].LastName%></td>
                    <td><%=data[i].Email%></td>
                    <td>
                      <a href="/edit/<%=data[i].STT%>" class="btn btn-primary">Edit</a>
                      <a href="/delete/<%=data[i].STT%>" class="btn btn-danger">Delete</a>
                    </td>
                  </tr>
                  <%
                }
              %>
            </tbody>
          </table>
        </form>
    </div>
  </body>
</html>
